
div[mat-window].latDer{
    transition: all 0.3s ease-in-out;
	margin-left: 0px;
	margin-top: 50px;
	width: 280px;
	height: calc(100% - 50px);
	float:left;
}
div[mat-window].contMens{
    transition: all 0.3s ease-in-out;
	margin: 50px 1px 0px 1px;
    float: left;
    width: calc(100% - 282px);
    height: calc(100% - 102px);
    background-color: transparent;
    overflow-y: auto;
}
div[mat-window].contMens section[sector]{
    height: calc(100% - 2px);
}
section[sector] div[bienvenido]{
    background-color: white;
    text-align: center;
    height: calc(100%);
    padding-top: 180px;
    font-size: 25px;
}
section[sector] div[bienvenidoIcon]{
    position: absolute;
    font-size: 180px;
    margin-left: calc(50% - 90px);
}
section[sector].transparente{
    background-color: transparent;
}
div[mat-window].panelEsc{
    transition: all 0.3s ease-in-out;
	margin: 1px;
    float: left;
    width: calc(100% - 282px);
    height: 51px;
}
div[mat-window].panelEsc section[sector].botonera{
    height: 50px;
}
div[mat-window].panelEsc textarea{
    position:absolute;
    top:0px;
    height: 50px;
    width:calc(100% - 40px);
    border:none;
    font-size: 15px;
    padding-top: 5px;
    padding-left: 5px;
}
div[mat-window].panelEsc button{
    position: absolute;
    right: 2px;
    top: 7px;
    margin: 0px !important;
}
div[cabecera] button.listado{
    position: absolute;
    top: 0px;
    right: 0px;
    background: transparent;
    border: none;
    display:none;
}
@media only screen and (max-device-width: 480px) {
	div[mat-window].latDer{
		width: 100%;
	}
	div[mat-window].contMens,div[mat-window].panelEsc{
		width: 100%;
        margin-left: calc(100%);
        position:absolute;
	}
    div[mat-window].panelEsc{
        margin-top:calc(143%);
    }
    /*-----Chat Activo-------*/
    div[mat-window].latDer.oculto{
        margin-left: calc(-100%);
    }
    div[mat-window].panelEsc.visible,div[mat-window].contMens.visible{
        margin-left: 0px;
    }
    div[cabecera] button.listado.visible{
        display:block;;
    }
  }
